### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(20)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64

## Player Count

* Display the total number of players

In [10]:
#Calculate total numbr of players
total_players = purchase_data["SN"].unique()
total_players = len(total_players)
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
# Calculate Total number of unique items
unique_item_ids = purchase_data["Item ID"].nunique()
print(f"Total Number of Unique Items: {unique_item_ids}")

#Total Number of Purchases
total_number_purchases = purchase_data["Purchase ID"].count()
print(f'Total Number of Purchases: {total_number_purchases}')

total_revenue = purchase_data["Price"].sum()
total_revenue

Total Number of Unique Items: 183
Total Number of Purchases: 780

2379.77

In [12]:
average_purchase = round(total_revenue/total_number_purchases, 2)
average_purchase

3.05

In [14]:
summary_table = pd.DataFrame({"Total":[unique_item_ids],
                              "Total Number of Purchases":[total_number_purchases],
                              "Total Revenue": [total_revenue],
                              "average_purchase": [average_purchase]})
summary_table

   Total  Total Number of Purchases  Total Revenue  average_purchase
0    183                        780        2379.77              3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [17]:

unique_names_subset = purchase_data.drop_duplicates(subset = "SN", keep = "first")
unique_names_subset
# male_female_count = unique_names_subset.groupby(["Gender"])
# male_female_count.count()

# berry_phone = df.loc["Berry", "Phone Number"]
gender_count = unique_names_subset.loc[:, "Gender"]
gender_count = gender_count.value_counts()
gender_count
male = gender_count[0]
female = gender_count[1]
other = gender_count[2]

# for name in gender_count:
#     percent = name/total_players *100
# print(f'{percent}%')

percent = [name/total_players *100 for name in gender_count]
percent

percent_males = round(percent[0],2)
percent_males

# .map("{:.2f}")

84.03

In [ ]:
summary_table = pd.DataFrame({"Total Count":[unique_item_ids],
                              "Total Number of Purchases":[total_number_purchases],
                              "Total Revenue": [total_revenue],
                              "average_purchace": [average_purchace]})
summary_table


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
# Subset Data to find only records that have Mele players
maleData = purchase_data.loc[purchase_data["Gender"] == "Male", :]
# maleCount = purchase_data.loc[purchase_data["Gender"] == "Male", :].count()

# Find the amount of purchases male players did
malePurchaseCount = maleData["Gender"].count()
#Sum the total of all perchases to calculate Total Purchase Value
maleTotalPurchaseValue = maleData["Price"].sum()

# Calculate Average Total Purchase per male player
maleAvgTotalPurchasePerson = maleTotalPurchaseValue/male
maleAvgTotalPurchasePerson

#Calculate Average Purchase Price 
# maleAvgPurchasePrice= maleTotalPurchaseValue/malePurchaseCount
# maleAvgPurchasePrice
maleAvgPurchasePrice = maleData["Price"].mean()
maleAvgPurchasePrice


# print(f'Male Purchase Count: {male_purchase_count}')

# only_billys = df.loc[df["first_name"] == "Billy", :]
# print(only_billys)

3.0178527607361953

In [19]:
# # Subset Data to find only records that have femele players
femaleData = purchase_data.loc[purchase_data["Gender"] == "Female", :]

# # Find the amount of purchases female players did
femalePurchaseCount = femaleData["Gender"].count()
femalePurchaseCount
# #Sum the total of all perchases to calculate Total Purchase Value
femaleTotalPurchaseValue = femaleData["Price"].sum()
femaleTotalPurchaseValue

# # Calculate Average Total Purchase per female player
femaleAvgTotalPurchasePerson = femaleTotalPurchaseValue/female
femaleAvgTotalPurchasePerson

# #Calculate Average Purchase Price - change to .mean() here 
femaleAvgPurchasePrice= femaleTotalPurchaseValue/femalePurchaseCount
femaleAvgPurchasePrice

3.203008849557522

In [20]:
# Subset Data to find only records that have femele players
otherData = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

# Find the amount of purchases players did
otherPurchaseCount = otherData["Gender"].count()
otherPurchaseCount
#Sum the total of all perchases to calculate Total Purchase Value
otherTotalPurchaseValue = otherData["Price"].sum()
otherTotalPurchaseValue

# Calculate Average Total Purchase per player
otherAvgTotalPurchasePerson = otherTotalPurchaseValue/other
otherAvgTotalPurchasePerson

#Calculate Average Purchase Price  - change to .mean() here 
otherAvgPurchasePrice= otherTotalPurchaseValue/otherPurchaseCount
otherAvgPurchasePrice

3.3459999999999996

In [ ]:
# # k=purchase_data["Gender"].agg(['min', 'max'])
# k = unique_names_subset.groupby(["Price"]).agg(['min', 'max'])
# k

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [34]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#Categorize the existing players using the age bins
unique_names_subset["Age Group"]= pd.cut(unique_names_subset["Age"], bins, labels=labels)



# x.value_counts()
# unique_names_subset.head()


ageGroups = unique_names_subset.groupby("Age Group")
groupCount = ageGroups.count()
groupCount
groupCount["Age"]

percentPlayers = [value/total_players * 100 for value in groupCount["SN"]]
list(percentPlayers)

    
# how to take the calculated values and extract them to calculate the percent?

C:\Users\natal\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

[2.951388888888889,
 3.8194444444444446,
 18.57638888888889,
 44.79166666666667,
 13.368055555555555,
 9.027777777777777,
 5.381944444444445,
 2.083333333333333]

In [33]:
ageDemographics = pd.DataFrame({"":[bins],
                                "Total Count":[groupCount["Age"]],
                                "Percentage of Players":[percentPlayers]})
ageDemographics

,,Total Count,Percentage of Players
0,"[0, 9, 14, 19, 24, 29, 34, 39, 100]",Age Group <10 17 10-14 22 15-19 1...,"[2.951388888888889, 3.8194444444444446, 18.576..."

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [60]:
# binPurchaseCount = [for value in unique_names_subset["Price"]]
# unique_names_subset["Price"].count()
# binPurchaseCount

SyntaxError: invalid syntax (<ipython-input-60-05de7f21bb86>, line 1)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [72]:
topSpenders = purchase_data[["SN", "Price"]]
new_df = topSpenders.groupby("SN").count()
sorted = new_df.sort_values(["Price"], ascending=False)
sorted

# strikers_2018_df = soccer_2018_df.loc[soccer_2018_df["Preferred Position"] == "ST", :]

               Price
SN
Lisosia93          5
Iral74             4
Idastidru52        4
Asur53             3
Inguron55          3
Aina42             3
Ilarin91           3
Idai61             3
Umolrian85         3
Ialallo29          3
Tyisur83           3
Tyidaim51          3
Pheodaisun84       3
Hiaral50           3
Haillyrgue51       3
Zontibe81          3
Iri67              3
Hada39             3
Raesty92           3
Rarallo90          3
Chadolyla44        3
Saedaiphos46       3
Saistyphos30       3
Siallylis44        3
Chamimla85         3
Silaera56          3
Chamjask73         3
Chanastnya43       3
Strithenu87        3
Sondastsda82       3
...              ...
Haerith37          1
Iduelis31          1
Hiral75            1
Idaisuir85         1
Idacal95           1
Iathenudil29       1
Iathem87           1
Iasursti71         1
Iasurriacal29      1
Iarallo65          1
Iana95             1
Ialidru40          1
Iadueria43         1
Hyaduesu61         1
Hisridru55         1
Hilaerin92         1
Haerithp41         1
Hiasurria41        1
Hiarideu73         1
Heunadil74         1
Heudai45           1
Heollyriap59       1
Heollyra92         1
Hariphos58         1
Hallysucal81       1
Hala31             1
Haisurra41         1
Hailaphos89        1
Haestyphos66       1
Iskosian40         1

[576 rows x 1 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [58]:
popularItemsDf = purchase_data[["Item ID", "Item Name", "Price"]]
popularItemsDf
grouped_popularItemsDf = popularItemsDf.groupby("Item Name")
grouped_popularItemsDf["Item Name"].count()

Item Name
Abyssal Shard                               5
Aetherius, Boon of the Blessed              5
Agatha                                      6
Alpha                                       3
Alpha, Oath of Zeal                         3
Alpha, Reach of Ending Hope                 1
Amnesia                                     6
Apocalyptic Battlescythe                    6
Arcane Gem                                  3
Avenger                                     6
Azurewrath                                  6
Betrayal, Whisper of Grieving Widows        5
Betrayer                                    1
Blade of the Grave                          4
Blazefury, Protector of Delusions           3
Blazeguard, Reach of Eternity               5
Blindscythe                                 5
Blood Infused Guardian                      6
Blood-Forged Skeletal Spine                 6
Bloodlord's Fetish                          5
Bone Crushing Silver Skewer                 4
Bonecarvin Battle Axe                       5
Brimstone                                   5
Brutality Ivory Warmace                     8
Celeste                                     1
Celeste, Incarnation of the Corrupted       4
Chaos, Ender of the End                     5
Conqueror Adamantite Mace                   5
Crucifer                                    4
Crying Steel Sickle                         3
                                           ..
Thorn, Conqueror of the Corrupted           4
Thorn, Satchel of Dark Souls                7
Thunderfury Scimitar                        5
Toothpick                                   3
Torchlight, Bond of Storms                  2
Tranquility, Razor of Black Magic           5
Trickster                                   2
Twilight's Carver                           4
Undead Crusader                             1
Unending Tyranny                            3
Unholy Wand                                 2
Vengeance Cleaver                           7
Venom Claymore                              4
Verdict                                     6
Victor Iron Spikes                          4
Vindictive Glass Edge                       3
War-Forged Gold Deflector                   5
Warmonger, Gift of Suffering's End          3
Warped Diamond Crusader                     3
Warped Fetish                               5
Warped Iron Scimitar                        5
Whistling Mithril Warblade                  2
Winter's Bite                               8
Winterthorn, Defender of Shifting Worlds    2
Woeful Adamantite Claymore                  3
Wolf                                        8
Wolf, Promise of the Moonwalker             6
Worldbreaker                                4
Yearning Crusher                            3
Yearning Mageblade                          5
Name: Item Name, Length: 179, dtype: int64

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame