### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [199]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(20)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64

## Player Count

* Display the total number of players

In [200]:
#Calculate total numbr of players
total_players = purchase_data["SN"].unique()
total_players = len(total_players)
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [201]:
# Calculate Total number of unique items
unique_item_ids = purchase_data["Item ID"].nunique()
print(f"Total Number of Unique Items: {unique_item_ids}")

#Total Number of Purchases
total_number_purchases = purchase_data["Purchase ID"].count()
print(f'Total Number of Purchases: {total_number_purchases}')

total_revenue = purchase_data["Price"].sum()
total_revenue

Total Number of Unique Items: 183
Total Number of Purchases: 780

2379.77

In [202]:
average_purchase = round(total_revenue/total_number_purchases, 2)
average_purchase

3.05

In [203]:
summary_table = pd.DataFrame({"Total":[unique_item_ids],
                              "Total Number of Purchases":[total_number_purchases],
                              "Total Revenue": [total_revenue],
                              "average_purchace": [average_purchace]})
summary_table

   Total  Total Number of Purchases  Total Revenue  average_purchace
0    183                        780        2379.77              3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [204]:

unique_names_subset = purchase_data.drop_duplicates(subset = "SN", keep = "first")
unique_names_subset
# male_female_count = unique_names_subset.groupby(["Gender"])
# male_female_count.count()

# berry_phone = df.loc["Berry", "Phone Number"]
gender_count = unique_names_subset.loc[:, "Gender"]
gender_count = gender_count.value_counts()
gender_count
male = gender_count[0]
female = gender_count[1]
other = gender_count[2]

# for name in gender_count:
#     percent = name/total_players *100
# print(f'{percent}%')

percent = [name/total_players *100 for name in gender_count]
percent

percent_males = round(pecent[0],2)
percent_males

# .map("{:.2f}")

84.03

In [205]:
summary_table = pd.DataFrame({"Total Count":[unique_item_ids],
                              "Total Number of Purchases":[total_number_purchases],
                              "Total Revenue": [total_revenue],
                              "average_purchace": [average_purchace]})
summary_table

   Total Count  Total Number of Purchases  Total Revenue  average_purchace
0          183                        780        2379.77              3.05


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [206]:
# Subset Data to find only records that have Mele players
maleData = purchase_data.loc[purchase_data["Gender"] == "Male", :]
# maleCount = purchase_data.loc[purchase_data["Gender"] == "Male", :].count()

# Find the amount of purchases male players did
malePurchaseCount = maleData["Gender"].count()
#Sum the total of all perchases to calculate Total Purchase Value
maleTotalPurchaseValue = maleData["Price"].sum()

# Calculate Average Total Purchase per male player
maleAvgTotalPurchasePerson = maleTotalPurchaseValue/male
maleAvgTotalPurchasePerson

#Calculate Average Purchase Price 
maleAvgPurchasePrice= maleTotalPurchaseValue/malePurchaseCount
maleAvgPurchasePrice


# print(f'Male Purchase Count: {male_purchase_count}')

# only_billys = df.loc[df["first_name"] == "Billy", :]
# print(only_billys)

3.0178527607361967

In [207]:
# # Subset Data to find only records that have femele players
femaleData = purchase_data.loc[purchase_data["Gender"] == "Female", :]

# # Find the amount of purchases female players did
femalePurchaseCount = femaleData["Gender"].count()
femalePurchaseCount
# #Sum the total of all perchases to calculate Total Purchase Value
femaleTotalPurchaseValue = femaleData["Price"].sum()
femaleTotalPurchaseValue

# # Calculate Average Total Purchase per female player
femaleAvgTotalPurchasePerson = femaleTotalPurchaseValue/female
femaleAvgTotalPurchasePerson

# #Calculate Average Purchase Price 
femaleAvgPurchasePrice= femaleTotalPurchaseValue/femalePurchaseCount
femaleAvgPurchasePrice

3.203008849557522

In [208]:
# Subset Data to find only records that have femele players
otherData = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

# Find the amount of purchases female players did
otherPurchaseCount = otherData["Gender"].count()
otherPurchaseCount
#Sum the total of all perchases to calculate Total Purchase Value
otherTotalPurchaseValue = otherData["Price"].sum()
otherTotalPurchaseValue

# Calculate Average Total Purchase per female player
otherAvgTotalPurchasePerson = otherTotalPurchaseValue/other
otherAvgTotalPurchasePerson

#Calculate Average Purchase Price 
otherAvgPurchasePrice= otherTotalPurchaseValue/otherPurchaseCount
otherAvgPurchasePrice

3.3459999999999996

In [209]:
# # k=purchase_data["Gender"].agg(['min', 'max'])
# k = unique_names_subset.groupby(["Price"]).agg(['min', 'max'])
# k

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [264]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#Categorize the existing players using the age bins
unique_names_subset["Age Group"]= pd.cut(unique_names_subset["Age"], bins, labels=labels)



# x.value_counts()
# unique_names_subset.head()


ageGroups = unique_names_subset.groupby("Age Group")
new = ageGroups.count()
new
new["Age"]

newPercent = [value/total_players * 100 for value in new["SN"]]
newPercent

    
# how to take the calculated valus and extract them to calculate the percent?

C:\Users\natal\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Group
<10                 17   17   17      17       17         17     17
10-14               22   22   22      22       22         22     22
15-19              107  107  107     107      107        107    107
20-24              258  258  258     258      258        258    258
25-29               77   77   77      77       77         77     77
30-34               52   52   52      52       52         52     52
35-39               31   31   31      31       31         31     31
40+                 12   12   12      12       12         12     12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [273]:
# binPurchaseCount = [for value in unique_names_subset["Price"]]
unique_names_subset["Price"].count()
# binPurchaseCount

576

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame